@theme {
    --color-danger-600: #dc2626;
    --color-success-600: #16a34a;
    --color-info-500: #3b82f6;
    --color-info-600: #2f57d5;
    --color-info-700: #1d4ed8;
    --color-warning-500: #f59e0b;
    --color-warning-450: #ffa30a;
    --color-primary-50: #fffbf3;
    --color-primary-200: #fbd89d;
    --color-primary-250: #f1c47a;
    --color-primary-400: #f7b13c;
    --color-primary-500: #f59e0b;
    --color-grey-50: #fafafa;
    --color-grey-75: #fcfcfc;
    --color-grey-100: #f1f1f3;
    --color-grey-200: #e5e5e5;
    --color-grey-225: #e8e8e8;
    --color-grey-300: #d4d4d4;
    --color-grey-350: #c6c6c7;
    --color-grey-400: #a3a3a3;
    --color-grey-500: #737373;
    --color-grey-550: #83838c;
    --color-grey-800: #262626;
    --color-grey-850: #212221;
    --color-grey-860: #242529;
    --color-black: #000000;
    --color-white: #ffffff;
}
